@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #fdfaf6;
}

.pastel-blue { background-color: #e0f2fe; }
.pastel-green { background-color: #f0fdf4; }
.pastel-rose { background-color: #fff1f2; }
.pastel-amber { background-color: #fffbeb; }
