@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Courier+Prime&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #fdf5e6;
  font-family: 'Crimson Text', serif;
  color: #2c1b18;
}
